<a href="https://colab.research.google.com/github/KYOH95/Database_Studies/blob/main/ai_sc12x.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1 - Bayesian

Ï¥ù Îã§ÏÑØ Îã®ÏõêÏóê ÎåÄÌïòÏó¨ 20Î¨∏Ìï≠ÏùÑ Ï∂úÏ†úÌïú ÏãúÌóòÏóêÏÑú Ìïú ÌïôÏÉùÏùò Í≤∞Í≥ºÎäî Ï†ïÎãµ 12Î¨∏Ìï≠, Ïò§Îãµ 8Î¨∏Ìï≠ÏûÖÎãàÎã§. </br>
Ïù¥Îïå ÎßûÏùÄ Î¨∏Ìï≠ Ï§ë 1Îã®ÏõêÏùÄ 3Î¨∏Ìï≠Ïù¥Í≥† ÌãÄÎ¶∞ Î¨∏Ìï≠ Ï§ë 1Îã®ÏõêÏùÄ 1Î¨∏Ìï≠ÏûÖÎãàÎã§. Ïù¥ ÌïôÏÉùÏù¥ 1Îã®ÏõêÏóê ÎåÄÌï¥ÏÑú ÎßûÏ∂ú ÌôïÎ•†ÏùÑ **Î∞òÏò¨Î¶ºÌïòÏó¨ ÏÜåÏàòÏ†ê ÎëòÏß∏ ÏûêÎ¶¨**ÍπåÏßÄ Íµ¨ÌïòÏãúÏò§.

In [54]:
p = (1/5) * (3/4)
p

0.15000000000000002

# Part 2 - Í∞ÄÏÑ§Í≤ÄÏ†ï

Ïù¥Î≤à PartÏóêÏÑú Ïó¨Îü¨Î∂ÑÏùÄ Í∞ÄÏÉÅÏùò ÎßàÏºÄÌåÖ Îç∞Ïù¥ÌÑ∞Î•º ÌôúÏö©ÌïòÏó¨ Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏßÑÌñâÌïòÏãúÍ≤å Îê©ÎãàÎã§. Ïö∞Î¶¨Í∞Ä ÏÇ¨Ïö©Ìï† $\chi^2$ - testÎäî Ïñ¥Îñ§ Í≤ΩÏö∞Ïóê ÏÇ¨Ïö©ÌïòÎäî Í∞ÄÏÑ§ Í≤ÄÏ†ï Î∞©Î≤ïÏù∏ÏßÄ ÏïåÏïÑÎ¥ÖÏãúÎã§.

---

- one sample $\chi^2$ - test (Ï†ÅÌï©ÎèÑ Í≤ÄÏ†ï)
  > **Ï£ºÏñ¥ÏßÑ ÌïòÎÇòÏùò Î≤îÏ£ºÌòï Î≥ÄÏàòÍ∞Ä ÌäπÏ†ï ÏòàÏÉÅÎêòÎäî Î∂ÑÌè¨ÏôÄ ÎèôÏùºÌïú Î∂ÑÌè¨Î•º ÎÇòÌÉÄÎÇ¥ÎäîÏßÄ** Ïóê ÎåÄÌïú Í∞ÄÏÑ§ Í≤ÄÏ†ï Î∞©Î≤ï

  - Í∑ÄÎ¨¥Í∞ÄÏÑ§($H_0$): Ï£ºÏñ¥ÏßÑ Î≥ÄÏàò XÏùò Í¥ÄÏ∏°Î∂ÑÌè¨ÏôÄ ÌäπÏ†ï ÏòàÏÉÅ Î∂ÑÌè¨Í∞Ä ÎèôÏùºÌïòÎã§.
  - ÎåÄÎ¶ΩÍ∞ÄÏÑ§($H_a$): Ï£ºÏñ¥ÏßÑ Î≥ÄÏàò XÏùò Í¥ÄÏ∏°Î∂ÑÌè¨ÏôÄ ÌäπÏ†ï ÏòàÏÉÅ Î∂ÑÌè¨Í∞Ä Îã§Î•¥Îã§.

- two sample $\chi^2$ - test (ÎèÖÎ¶ΩÏÑ± Í≤ÄÏ†ï)
  > **Îëê Í∞úÏùò Î≤îÏ£ºÌòï Î≥ÄÏàòÍ∞Ä ÏÑúÎ°ú Ïó∞Í¥ÄÎêòÏñ¥ ÏûàÎäîÏßÄ Ïó¨Î∂Ä**Ïóê ÎåÄÌïú Í∞ÄÏÑ§ Í≤ÄÏ†ï Î∞©Î≤ï

  - Í∑ÄÎ¨¥Í∞ÄÏÑ§($H_0$): Î≥ÄÏàò XÏôÄ YÎäî ÏÑúÎ°ú ÎèÖÎ¶ΩÏù¥Îã§. (Ïó∞Í¥Ä ÏóÜÏùå)
  - ÎåÄÎ¶ΩÍ∞ÄÏÑ§($H_a$): Î≥ÄÏàò XÏôÄ YÎäî ÏÑúÎ°ú ÎèÖÎ¶ΩÏù¥ ÏïÑÎãàÎã§. (Ïó∞Í¥Ä ÏûàÏùå)

</br>

ÏúÑÏùò Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏïÑÎûòÏùò Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ ÏßÑÌñâÌï¥Î¥ÖÎãàÎã§.

## Îç∞Ïù¥ÌÑ∞ÏÖã Ï†ïÎ≥¥ :   
Ïù¥ Îç∞Ïù¥ÌÑ∞ÏÖãÏùÄ ÏïåÎú∞ Íµ¨Îß§Î•º ÎèÑÏôÄÏ£ºÎäî XYZÏÇ¨Ïùò ÎßàÏºÄÌåÖ Ï†ïÎ≥¥Î•º Îã§Î£πÎãàÎã§. Í∞úÏù∏ Ï†ïÎ≥¥Îäî Î≥¥Ìò∏Î•º ÏúÑÌï¥ Ï†úÍ±∞ ÎêòÏñ¥ ÏûàÏäµÎãàÎã§.

**Attribute Information:**
> 2,240 customers of XYZ company:

- ID - Í≥†Í∞ùÏùò Í≥†Ïú†Í∞í
- Year_Birth - Í≥†Í∞ùÏùò Ï∂úÏÉùÏó∞ÎèÑ
- Education - Í≥†Í∞ùÏùò ÏµúÏ¢ÖÌïôÎ†•
- Marital_Status - Í≥†Í∞ùÏùò ÌòºÏù∏Ïó¨Î∂Ä
- Country - Í≥†Í∞ùÏùò Íµ≠Ï†Å
- Income - Í≥†Í∞ùÏùò Ïó∞Í∞Ñ ÏàòÏûÖ
- Kidhome - ÏûêÎÖÄÍ∞Ä ÎØ∏Ï∑®ÌïôÏïÑÎèôÏù∏ÏßÄ Ïó¨Î∂Ä (1 - yes, 0 - no)
- Teenhome - ÏûêÎÖÄÍ∞Ä 10ÎåÄ Ï≤≠ÏÜåÎÖÑÏù∏ÏßÄ Ïó¨Î∂Ä (1 - yes, 0 - no)
- Dt_Customer - ÏÑúÎπÑÏä§ Í∞ÄÏûÖ ÏãúÍ∏∞
- Recency - ÎßàÏßÄÎßâ Íµ¨Îß§ ÏãúÍ∏∞ (Ïùº)
- MntWines - ÏµúÍ∑º 2ÎÖÑÍ∞Ñ Íµ¨Îß§Ìïú ÏôÄÏù∏ Íµ¨Îß§ Ï¥ùÏï°
- MntFruits- ÏµúÍ∑º 2ÎÖÑÍ∞Ñ Íµ¨Îß§Ìïú Í≥ºÏùº Íµ¨Îß§ Ï¥ùÏï°
- MntMeatProducts - ÏµúÍ∑º 2ÎÖÑÍ∞Ñ Íµ¨Îß§Ìïú Ï†ïÏú° Íµ¨Îß§ Ï¥ùÏï°
- MntFishProducts - ÏµúÍ∑º 2ÎÖÑÍ∞Ñ Íµ¨Îß§Ìïú Ïñ¥Î•ò Íµ¨Îß§ Ï¥ùÏï°
- MntSweetProducts - ÏµúÍ∑º 2ÎÖÑÍ∞Ñ Íµ¨Îß§Ìïú Í≥ºÏûê Íµ¨Îß§ Ï¥ùÏï°
- MntGoldProds - ÏµúÍ∑º 2ÎÖÑÍ∞Ñ Íµ¨Îß§Ìïú Ìô©Í∏à Íµ¨Îß§ Ï¥ùÏï°
- NumDealsPurchases - Ìï†Ïù∏ÏùÑ ÌÜµÌï¥ Ï†úÌíàÏùÑ Íµ¨Îß§Ìïú ÌöüÏàò
- NumWebPurchases - ÌöåÏÇ¨Ïùò ÏõπÏÇ¨Ïù¥Ìä∏Î•º ÌÜµÌï¥ Íµ¨Îß§Ìïú ÌöüÏàò
- NumStorePurchases - Í∞ÄÍ≤åÏóêÏÑú ÏßÅÏ†ë Íµ¨Îß§Ìïú ÌöüÏàò
- NumWebVisitsMonth - ÌöåÏÇ¨Ïùò ÏõπÏÇ¨Ïù¥Ìä∏Î•º Î∞©Î¨∏Ìïú ÌöüÏàò
- Complain - Í≥†Í∞ùÏùò ÏµúÍ∑º 2ÎÖÑÍ∞Ñ ÌöåÏÇ¨Ïóê ÎåÄÌïú ÌÅ¥Î†àÏûÑ Ïó¨Î∂Ä (1 - yes, 0 - no)

## Ï§ÄÎπÑÏÇ¨Ìï≠

>üìå Î≥∏Í≤©Ï†ÅÏù∏ Í∞ÄÏÑ§Í≤ÄÏ†ïÏóê Îì§Ïñ¥Í∞ÄÍ∏∞Ïóê ÏïûÏÑú Îã§ÏùåÏùò ÏÇ¨Ìï≠ÏùÑ ÏßÑÌñâÌï¥Ï£ºÏÑ∏Ïöî.

1. Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏóÖÎ°úÎìú Ìï©ÎãàÎã§
2. Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏ ÌõÑ, ÏûàÎã§Î©¥ Ï†úÍ±∞Ìï©ÎãàÎã§

#### 1. Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏóÖÎ°úÎìú Ìï©ÎãàÎã§

In [55]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sns

In [56]:
# from google.colab import files
# files.upload()

In [57]:
df = pd.read_csv('sc12x_dataset.csv')
df.shape

(2240, 22)

#### 2. Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏ ÌõÑ, ÏûàÎã§Î©¥ Ï†úÍ±∞Ìï©ÎãàÎã§

In [58]:
df.isnull().sum()

Unnamed: 0            0
ID                    0
Year_Birth            0
Country               0
Education             0
Marital_Status        0
 Income              24
Kidhome               0
Teenhome              0
Dt_Customer           0
Recency               0
MntWines              0
MntFruits             0
MntMeatProducts       0
MntFishProducts       0
MntSweetProducts      0
MntGoldProds          0
NumDealsPurchases     0
NumWebPurchases       0
NumStorePurchases     0
NumWebVisitsMonth     0
Complain              0
dtype: int64

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2240 non-null   int64
 1   ID                 2240 non-null   int64
 2   Year_Birth         2240 non-null   int64
 3   Country            2240 non-null   object
 4   Education          2240 non-null   object
 5   Marital_Status     2240 non-null   object
 6    Income            2216 non-null   object
 7   Kidhome            2240 non-null   int64
 8   Teenhome           2240 non-null   int64
 9   Dt_Customer        2240 non-null   object
 10  Recency            2240 non-null   int64
 11  MntWines           2240 non-null   int64
 12  MntFruits          2240 non-null   int64
 13  MntMeatProducts    2240 non-null   int64
 14  MntFishProducts    2240 non-null   int64
 15  MntSweetProducts   2240 non-null   int64
 16  MntGoldProds       2240 non-null   int64
 17  NumDealsPurchases  2240 non-null   int64
 18  NumWebPurchases    2240 non-null   int64
 19  NumStorePurchases  2240 non-null   int64
 20  NumWebVisitsMonth  2240 non-null   int64
 21  Complain           2240 non-null   int64
dtypes: int64(17), object(5)
memory usage: 385.1+ KB

In [60]:
df = df.dropna(axis=0)

In [61]:
df = df.drop(df.columns[[0]], axis=1)
df

,ID,Year_Birth,Country,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumStorePurchases,NumWebVisitsMonth,Complain
0,1826,1970,SP,Graduation,Divorced,"$84,835.00",0,0,6/16/14,0,...,104,379,111,189,218,1,4,6,1,0
1,1,1961,CA,Graduation,Single,"$57,091.00",0,0,6/15/14,0,...,5,64,7,0,37,1,7,7,5,0
2,10476,1958,US,Graduation,Married,"$67,267.00",0,1,5/13/14,0,...,11,59,15,2,30,1,3,5,2,0
3,1386,1967,AUS,Graduation,Together,"$32,474.00",1,1,5/11/14,0,...,0,1,0,0,0,1,1,2,7,0
4,5371,1989,SP,Graduation,Single,"$21,474.00",1,0,4/8/14,0,...,16,24,11,0,34,2,3,2,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,US,PhD,Divorced,"$66,476.00",0,1,3/7/13,99,...,18,126,47,48,78,2,5,11,4,0
2236,5263,1977,SP,2n Cycle,Married,"$31,056.00",1,0,1/22/13,99,...,10,13,3,8,16,1,1,3,8,0
2237,22,1976,SP,Graduation,Divorced,"$46,310.00",1,0,12/3/12,99,...,2,88,15,5,14,2,6,5,8,0
2238,528,1978,IND,Graduation,Married,"$65,819.00",0,0,11/29/12,99,...,38,701,149,165,63,1,5,10,3,0
2239,4070,1969,CA,PhD,Married,"$94,871.00",0,2,9/1/12,99,...,24,553,188,0,144,1,8,4,7,0

In [62]:
df = df.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='')
df

,ID,Year_Birth,Country,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumStorePurchases,NumWebVisitsMonth,Complain
0,1826,1970,SP,Graduation,Divorced,"$84,835.00",0,0,6/16/14,0,...,104,379,111,189,218,1,4,6,1,0
1,1,1961,CA,Graduation,Single,"$57,091.00",0,0,6/15/14,0,...,5,64,7,0,37,1,7,7,5,0
2,10476,1958,US,Graduation,Married,"$67,267.00",0,1,5/13/14,0,...,11,59,15,2,30,1,3,5,2,0
3,1386,1967,AUS,Graduation,Together,"$32,474.00",1,1,5/11/14,0,...,0,1,0,0,0,1,1,2,7,0
4,5371,1989,SP,Graduation,Single,"$21,474.00",1,0,4/8/14,0,...,16,24,11,0,34,2,3,2,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2211,10142,1976,US,PhD,Divorced,"$66,476.00",0,1,3/7/13,99,...,18,126,47,48,78,2,5,11,4,0
2212,5263,1977,SP,2n Cycle,Married,"$31,056.00",1,0,1/22/13,99,...,10,13,3,8,16,1,1,3,8,0
2213,22,1976,SP,Graduation,Divorced,"$46,310.00",1,0,12/3/12,99,...,2,88,15,5,14,2,6,5,8,0
2214,528,1978,IND,Graduation,Married,"$65,819.00",0,0,11/29/12,99,...,38,701,149,165,63,1,5,10,3,0
2215,4070,1969,CA,PhD,Married,"$94,871.00",0,2,9/1/12,99,...,24,553,188,0,144,1,8,4,7,0

### 1) $\chi^2$ Í∞ÄÏÑ§ Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌï©ÎãàÎã§

#### 1-1) one sample $\chi^2$ - test 

> XYZÏÇ¨Îäî Îã§Íµ≠Ï†Å Í∏∞ÏóÖÏúºÎ°ú Îã§ÏñëÌïú ÎÇòÎùºÏóê Í≥†Í∞ùÏ∏µÏùÑ ÌôïÎ≥¥ÌïòÍ≥† ÏûàÏúºÎ©∞, 5ÏõîÏùÑ ÎßûÏïÑ **Í∏∞ÌòºÏûêÎ•º ÎåÄÏÉÅÏúºÎ°ú Ìïú Ïù¥Î≤§Ìä∏Î•º Í∏∞Ìöç**ÌïòÎ†§Í≥† Ìï©ÎãàÎã§. Ïù¥Îïå, Ïö∞Î¶¨Îäî Î™®Îì† Íµ≠Í∞ÄÎ•º ÎåÄÏÉÅÏúºÎ°ú Ïù¥Î≤§Ìä∏Î•º ÏßÑÌñâÌïòÎäî Í≤ÉÏù¥ Ìö®Ïú®Ï†ÅÏù∏ÏßÄ $\chi^2$ - testÎ•º ÌÜµÌï¥ ÌôïÏù∏Ìï¥Î≥¥Î†§ Ìï©ÎãàÎã§. ÎßåÏïΩ Íµ≠Ï†ÅÎ≥Ñ Í∏∞ÌòºÏûêÏùò ÎπàÎèÑÍ∞Ä ÎπÑÏä∑ÌïòÎã§Î©¥, XYZÏÇ¨Îäî Î™®Îì† Íµ≠Í∞ÄÎ•º ÎåÄÏÉÅÏúºÎ°ú Ïù¥Î≤§Ìä∏Î•º ÏßÑÌñâÌïòÎäî Í≤ÉÏùÑ Í≥†Î†§Ìï† Í≤ÉÏù¥Í≥†, Í∑∏Î†áÏßÄ ÏïäÎã§Î©¥, Ïñ¥Îñ§ Íµ≠Ï†ÅÏùò Í≥†Í∞ùÏù¥ Îçî ÎßéÏùÄÏßÄ ÌååÏïÖÌïòÎäî Ï∂îÍ∞Ä Î∂ÑÏÑùÏù¥ ÌïÑÏöîÌï† Í≤ÉÏûÖÎãàÎã§.

ÏßÄÍ∏àÎ∂ÄÌÑ∞ **Í∏∞ÌòºÏûêÏùò ÎπàÎèÑÍ∞Ä Î™®Îì† ÎÇòÎùºÏóê ÎåÄÌï¥ Í∑†ÏùºÌïúÏßÄ** Í∞ÄÏÑ§ Í≤ÄÏ†ïÏùÑ Ìï¥Î¥ÖÏãúÎã§.

---

[Í≥µÏãùÎ¨∏ÏÑú](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chisquare.html)Î•º Ï∞∏Í≥†ÌïòÏó¨ ÏïÑÎûòÏóê Î™ÖÏãúÎêú Í∞ÄÏÑ§ÏùÑ Í≤ÄÏ†ïÌï¥Î¥ÖÏãúÎã§. ($\alpha$ = 0.05)
- Í∑ÄÎ¨¥Í∞ÄÏÑ§($H_0$): Í≥†Í∞ùÏùò Íµ≠Ï†Å(Country)Î≥Ñ Í∏∞ÌòºÏûê(Married)Ïùò ÎπàÎèÑÍ∞Ä Í∑†ÏùºÌïòÍ≤å Î∂ÑÌè¨ÎêòÏñ¥ ÏûàÎã§.
- ÎåÄÎ¶ΩÍ∞ÄÏÑ§($H_a$): Í≥†Í∞ùÏùò Íµ≠Ï†Å(Country)Î≥Ñ Í∏∞ÌòºÏûê(Married)Ïùò ÎπàÎèÑÍ∞Ä Í∑†ÏùºÌïòÍ≤å Î∂ÑÌè¨ÎêòÏñ¥ ÏûàÏßÄ ÏïäÎã§.

> **Hint:** categorical feature Í∞ÑÏùò "cross tab"ÏùÑ ÏÉùÏÑ±ÌïòÏó¨ ÌÉêÏÉâÌï¥ Î≥¥ÏÑ∏Ïöî (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)). Í∑∏Î¶¨Í≥† $\chi^2 test$Î•º Ï†ÅÏö©Ìï¥ Î≥¥ÏÑ∏Ïöî. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html)ÏùÑ ÏÇ¨Ïö©ÌïòÎ©¥ contingency table ÏùÑ ÏÉùÏÑ±Ìï† Ïàò ÏûàÏäµÎãàÎã§.

In [63]:
from scipy.stats import chisquare

# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏã≠ÏãúÏò§

In [64]:
condition = df["Marital_Status"] == "Married"
df[condition]

,ID,Year_Birth,Country,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumStorePurchases,NumWebVisitsMonth,Complain
2,10476,1958,US,Graduation,Married,"$67,267.00",0,1,5/13/14,0,...,11,59,15,2,30,1,3,5,2,0
6,4073,1954,GER,2n Cycle,Married,"$63,564.00",0,0,1/29/14,0,...,80,252,15,34,65,1,10,7,6,0
8,4047,1954,US,PhD,Married,"$65,324.00",0,1,1/11/14,0,...,0,102,21,32,5,3,6,9,4,0
9,9477,1954,IND,PhD,Married,"$65,324.00",0,1,1/11/14,0,...,0,102,21,32,5,3,6,9,4,0
10,2079,1947,US,2n Cycle,Married,"$81,044.00",0,0,12/27/13,0,...,26,535,73,98,26,1,5,10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2205,2106,1974,SP,2n Cycle,Married,"$20,130.00",0,0,3/17/14,99,...,6,3,7,6,12,1,1,3,8,0
2206,3363,1974,SP,2n Cycle,Married,"$20,130.00",0,0,3/17/14,99,...,6,3,7,6,12,1,1,3,8,0
2212,5263,1977,SP,2n Cycle,Married,"$31,056.00",1,0,1/22/13,99,...,10,13,3,8,16,1,1,3,8,0
2214,528,1978,IND,Graduation,Married,"$65,819.00",0,0,11/29/12,99,...,38,701,149,165,63,1,5,10,3,0
2215,4070,1969,CA,PhD,Married,"$94,871.00",0,2,9/1/12,99,...,24,553,188,0,144,1,8,4,7,0

#### 1-2) P-value Ìï¥ÏÑù
ÏúÑÏùò Í∞ÄÏÑ§ Í≤ÄÏ†ï Í≤∞Í≥ºÎ°ú Î∞òÌôòÎêú P-valueÎ•º Ìï¥ÏÑùÌïòÏó¨ ÏÑ§Î™ÖÌï¥Î¥ÖÎãàÎã§.

**\*\* `ÎãµÏïà ÏûëÏÑ±ÏùÄ Ïù¥Í≥≥Ïóê ÌïòÏãúÎ©¥ Îê©ÎãàÎã§` \*\***

# üî• Advanced Goals:
> SCÏóêÏÑú `3Ï†ê`ÏùÑ ÏñªÍ≥† Ïã∂ÏúºÏãúÎã§Î©¥ ÏïÑÎûòÏùò Î¨∏Ï†úÎ•º <u>**Î™®Îëê**</u> ÌíÄÏñ¥Ï£ºÏÑ∏Ïöî. Îã§Îßå `2Ï†ê`ÎßåÏúºÎ°úÎèÑ Ï∂©Î∂ÑÌïòÎãà, ÏãúÍ∞ÑÍ≥º Ïó¨Ïú†Í∞Ä ÏûàÎäî Î∂ÑÎì§Îßå ÎèÑÏ†ÑÌï¥Î≥¥ÏãúÍ∏∞ Î∞îÎûçÎãàÎã§. 


‚ö†Ô∏è ÎèÑÏ†ÑÎ¨∏Ï†úÎ•º Ìï¥Í≤∞ÌïòÎçîÎùºÎèÑ Í∏∞Î≥∏Î¨∏Ï†úÏóêÏÑú Ïò§Î•òÍ∞Ä ÏûàÎã§Î©¥ `1Ï†ê`ÏûÖÎãàÎã§.

## Part 1:

> Ïö∞Î¶¨Îäî Í∏∞Î≥∏Î¨∏Ï†úÏóêÏÑú ÏÇ¨Ïö©Ìïú ÎßàÏºÄÌåÖ Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Í∑∏ÎåÄÎ°ú ÏÇ¨Ïö©Ìï† Í≤ÉÏûÖÎãàÎã§.

ÏïÑÎûòÏùò ÌäπÏÑ±Îì§ÏùÑ ÎßåÎìúÏÑ∏Ïöî

1. **TotalMntProducts** - ÏµúÍ∑º 2ÎÖÑÍ∞Ñ Íµ¨Îß§Ìïú Î™®Îì† Ï†úÌíà Í∞ÄÍ≤©Îì§ÏùÑ Ìï©Ìïú Í∞íÏùÑ Í∞ÄÏßÑ Í≥ÑÏÇ∞Ìïú ÌäπÏÑ±ÏûÖÎãàÎã§

2. **TotalNumPurchases** - Íµ¨Îß§ÌöüÏàòÎ•º Î™®Îëê Ìï©Ïπú Í∞íÏùÑ Í∞ÄÏßÑ ÌäπÏÑ±ÏûÖÎãàÎã§

3. **DaysSinceJoined** - Ïò§Îäò ÎÇ†ÏßúÎ•º Í∏∞Ï§ÄÏúºÎ°ú Í∞ÄÏûÖÌïú Í∏∞Í∞ÑÏùÑ Î≥¥Ïó¨Ï£ºÎäî ÌäπÏÑ±ÏûÖÎãàÎã§ 

4. **VIP** - ÎàÑÏ†Å Íµ¨Îß§ Í∏àÏï°Ïù¥ $2,000 Ïù¥ÏÉÅÏùÑ ÎÑòÍ≥†, Ïò§ÎäòÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Í∞ÄÏûÖÍ∏∞Í∞ÑÏù¥ 5ÎÖÑ Ïù¥ÏÉÅÏù¥ ÎêúÎã§Î©¥ 1, ÏïÑÎãàÎ©¥ 0Ïùò Í∞íÏùÑ Í∞ÄÏßÑ ÏπºÎüºÏùÑ ÎßåÎì≠ÎãàÎã§

In [65]:
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏã≠ÏãúÏò§

## Part 2:



[Í≥µÏãùÎ¨∏ÏÑú](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html)Î•º Ï∞∏Í≥†ÌïòÏó¨ **ÏµúÏÜå 2Í∞ú**Ïùò two-sample $\chi^2$ ÎèÖÎ¶ΩÏÑ± Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïú ÌõÑ, Í∑∏ Í≤∞Í≥ºÎ•º Ìï¥ÏÑùÌïòÏÑ∏Ïöî

#### Case 1)

In [66]:
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏã≠ÏãúÏò§

** **`Ìï¥ÏÑùÏùÄ Ïó¨Í∏∞Ïóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî`** **

#### Case 2)

In [67]:
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏã≠ÏãúÏò§

** **`Ìï¥ÏÑùÏùÄ Ïó¨Í∏∞Ïóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî`** **