<a href="https://colab.research.google.com/github/KYOH95/Database_Studies/blob/main/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [69]:
df_origin = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv")
df = df_origin

print("결측치:\n",df.isnull().sum()) #결측치 확인

df = df.dropna(axis = 0) #결측치가 포함된 모든 행 제거
df = df.drop(df.columns[[0]], axis=1) #첫번째 열 제거
df = df.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='')

print("원본 데이터:",df_origin.shape)
print("수정 데이터:",df.shape)

결측치:
 Unnamed: 0       0
Name             0
Platform         0
Year           271
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64
원본 데이터: (16598, 10)
수정 데이터: (16241, 9)

In [70]:
#sales 값 object에서 float으로 타입 변경
df['NA_Sales'] = pd.to_numeric(df['NA_Sales'],errors = 'coerce')
df['EU_Sales'] = pd.to_numeric(df['EU_Sales'],errors = 'coerce')
df['JP_Sales'] = pd.to_numeric(df['JP_Sales'],errors = 'coerce')
df['Other_Sales'] = pd.to_numeric(df['Other_Sales'],errors = 'coerce')

#Total_sales 칼럼을 새로 만든다.
df['Total_sales'] = df['NA_Sales'] + df['EU_Sales'] + df['JP_Sales'] + df['Other_Sales']

#Total_sales가 0인 행 제거
condition = df["Total_sales"]==0
print("total_sales 0인 행:\n",df[condition])
df.shape

#Total Sales가 0인 데이터도 삭제
df.drop(df.loc[df["Total_sales"] == 0].index, inplace = True) 
df.shape

total_sales 0인 행:
                                                   Name Platform    Year  \
5483  SCORE International Baja 1000: The Official Game      PS2  2008.0

       Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
5483  Racing  Activision       0.0       0.0       0.0          0.0

      Total_sales
5483          0.0

(16240, 10)